@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Together, we are strong!</h1>
    <p>Our mission is to create an archive of every superhero that's ever existed.</p>
    <span>Check our list for your favorite superhero. Don't see them listed, yet?</span>
    <h3>Be a hero!</h3>
    <p> <a class="" asp-area="" asp-controller="Hero" asp-action="Index"> add them to our site!</a></p>
    <img alt="Steve Rogers Wallpapers - Wallpaper Cave" class="n3VNCb" src="https://wallpapercave.com/wp/wp1880638.jpg" jsname="HiaYvf" jsaction="load:XAeZkd;" data-iml="32821.849999949336" style="width: 433px; height: 270.625px; margin: 0px;">
</div>
